- @page_title = 'このサイトについて'
%h1= @page_title
%p Baseball CMS は、kossy が技術力の向上を目的に作成した、しょーもないWebサイトです。
%p コードやブログも見ていってね〜
%ul
  %li
    = link_to 'githubリポジトリ', 'https://github.com/kossy0701/baseball_cms'
  %li
    = link_to 'その辺にいるWebエンジニアの備忘録', 'https://kossy-web-engineer.hatenablog.com'
